.footer {
    background-color: #0b132b;
    color: #e0e6f0;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 700px) {
    .footer .container {
        justify-content: flex-start;
    }
}
